# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

*~
*.bak
*.diff
*#
*.zip
bstrlib.txt
build
cmark.dSYM/*
/VC9/Debug
/VC9/Release
/VC9/Release_MT
/VC9/*.ncb
/VC9/*.suo
/VC9/*.user
/VC12/Debug
/VC12/Release
/VC12/Release_MT
/VC12/*.sdf
/VC12/*.opensdf
/VC12/*.suo
/expat/xmltok/nametab.h
